/* место для вашего кода */
header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 106px 50px 91px 50px;
}
.header__links-list {
  display: flex;
  gap: 32px;
  list-style: circle;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.13px;
  text-align: left;
}

.header__link {
  text-decoration: none;
  border-bottom: 1px solid #000;
}

.header__links-list-item_no-bullit {
  list-style: none;
  text-decoration: none;
}
.header__link_active {
  text-decoration: none;
  border-bottom: none;
}
.header__logo {
  padding-top: 8px;
  width: 136px;
  display: block;
}

.address {
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 24.3px;
}

.address__header {
  text-align: left;
  justify-self: end;
  padding-right: 37px;
  max-width: 240px;
}

.header__address {
  list-style: none;
}

.address__link {
  text-decoration: none;
  border-bottom: 1px solid #000;
}

.cover {
  background-image: url(../images/cover.jpg);
  background-size: cover;
  z-index: 0;
  position: relative;
  background-position: center;
}

.overlay {
  padding: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  inset: 0;
  z-index: 1;
  background-color: #000;
}

.cover__title {
  display: grid;
  padding: 156px 20px 0 50px;
  font-family: "Raleway", sans-serif;
  font-size: 100px;
  font-weight: 700;
  letter-spacing: 0.3em;
  text-align: left;
  position: inherit;
  z-index: 2;
  color: white;
  line-height: 134%;
}

.title__center {
  text-align: center;
}
.title__right {
  text-align: end;
}

.line {
  line-height: 0;
}
.description {
  display: flex;
  justify-content: space-between;
  padding: 100px 50px 50px 50px;
  position: inherit;
  z-index: 2;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  color: white;
}

.text__description {
  align-content: center;
  word-spacing: 19px;
}

.bet-button {
  width: 256px;
  height: 50px;
  font-size: 22px;
  font-weight: 500;
  background: transparent;
  color: white;
  border: 2px solid white;
}

.lots {
  text-transform: uppercase;
  margin: 180px 24px 153px 24px;
}

.lots__heading {
  margin-left: 40px;
  margin-bottom: 26px;
  font-size: 40px;
  font-weight: 700;
  line-height: 46.96px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.lots__card-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  color: white;
  gap: 25px;
  list-style: none;
  margin-bottom: 30px;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.lots__card-list-item {
  display: flex;
  flex-direction: column;
  width: 334px;
  min-height: 598px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-size: cover;
  background-position: center;
  height: 100%;
  padding: 48px 40px;
  position: relative;
  z-index: 0;
}

.card__title {
  text-decoration: underline;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 22px;
  color: white;
  width: 254px;
  z-index: 3;
}

.card__text {
  max-width: 254px;
  line-height: 120%;
  font-size: 20px;
  text-decoration: none;
  text-transform: none;
  z-index: 3;
}

.card-link {
  height: 100%;
  text-decoration: none;
}

.lots__look-more-link {
  text-transform: none;
  text-decoration: none;
  border-bottom: 1px solid #000;
  margin-left: 40px;
  font-size: 20px;
  font-weight: 400;
  line-height: 23.48px;
  text-align: left;
}

.about {
  display: grid;
  grid-template-columns: 300px 1fr;
  min-width: 1052px;
  gap: 0px;
  opacity: 0px;
}

.about__title {
  margin-top: 103px;
  margin-bottom: 97px;
  padding-left: 83px;
  font-size: 40px;
  font-weight: 700;
  line-height: 46.96px;
  text-transform: uppercase;
}

.about-text {
  width: 772px;
  margin-bottom: 24px;
  padding-left: 82px;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}

.about__logo {
  align-content: center;
}

.about__logo-image {
  width: 150px;
  height: 114px;
}

.about__logo-background__black {
  margin-left: 70px;
  display: flex;
  justify-content: center;
  width: 240px;
  height: 240px;
  background-color: black;
  border-radius: 50%;
}

.footer {
  padding-left: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 158px;
  padding-bottom: 82px;
  font-size: 18px;
  line-height: 135%;
}

.footer__menu {
  line-height: 22.5px;
  margin-right: 48px;
  text-align: center;
  line-height: 120%;
}
.address__footer {
  max-width: 264.5px;
  text-decoration: none;
  font-style: normal;
}
.footer__links-list {
  text-decoration: none;
}
.footer__social-list {
  display: flex;
  justify-content: center;
  gap: 48px;
  margin-left: 10px;
}

.footer__social-img {
  width: 48px;
  height: 48px;
}

.footer__menu-link {
  border-bottom: 1px solid #000;
  text-decoration: none;
}

.footer__link {
  border-bottom: 1px solid #000;
  text-decoration: none;
}

.footer__link_active {
  border-bottom: none;
}
